//basic colors
$black: #1f1c23;
$white: #fff;

//slide colors
$beige: #f0e9d7;
$tan: #ccbaa5;
$goldenbrown: #e0ad2b;
$olive: #998d57;
$orange: #f98001;
$orange-red: #ff614a;
$orange-red-transparent: transparentize($orange-red, .7);
$firebrick: #9c3519;
$light-blue: #95b6bb;
$mauve: #a9a1af;
$navy: #2d354a;
$dark-gray: #424143;
$gray: #69696c;
