//basic colors
$black: #000;
$white: #fff;

//slide colors
$beige: #f0e9d7;
$tan: #ccbaa5;
$goldenbrown: #e0ad2b;
$olive: #998d57;
$orange: #f98001;
$red: #d14621;
$light-blue: #95b6bb;
$navy: #2d354a;
$dark-gray: #414042;
$slide-black: #1f1c23;
