.footer {
  background: $dark-gray;
  padding: 2em 0;

  .footer-wrapper {
    margin: 0 auto;
    max-width: $wide-width;
  }

  .footer-section {
    float: left;
    padding: 0 5%;
    width: 50%;

    &:last-child {
      border-left: 1px solid $black;
    }
  }

  .footer-title {
    color: $goldenbrown;
    font-family: 'Rubik', sans-serif;
    font-size: 1.1em;
    letter-spacing: .03em;
    margin: 0 0 1.5em;
  }

  .footer-text {
    color: $white;
    font-family: 'PT Serif', serif;
    font-size: .95em;
    line-height: 1.6;
  }

  .contribs {
    color: $white;
    list-style: none;
    padding: 0;

    li {
      margin: 1em 0;
    }

    a {
      border-bottom: 2px solid $light-blue;
      color: $white;
      display: inline-block;
      text-decoration: none;
    }

    .contrib-name {
      display: block;
      font-family: 'Rubik', sans-serif;
      font-size: .95em;
    }

    .contrib-info {
      font-family: 'Chathura', sans-serif;
      font-size: 1.5em;
      letter-spacing: .05em;
      line-height: 1;
      text-transform: uppercase;
    }
  }

  &:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }
}

.footer-links {
  background: $black;
  color: $white;
  font-family: 'Rubik', sans-serif;
  font-size: .8em;
  padding: 1em;

  a {
    color: $white;
    text-decoration: none;
  }

  .links {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
    padding: 0 .5em;
    border-right: 1px solid $white;
  }

  .donate {
    border-right: 0px;

    a {
      color: $light-blue;
    }
  }

  &:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }
}
