.footer {
  background: $dark-gray;
  padding: 2em 0;

  &__wrapper {
    margin: 0 auto;
    max-width: $wide-width;
  }

  &__section {
    float: left;

    &.about {
      border-right: 1px solid $black;
      padding-right: 5%;
      width: 35%;
    }

    &:last-child {
      padding-left: 5%;
      width: 65%;
    }
  }

  &__title {
    color: $goldenbrown;
    font-family: 'Rubik', sans-serif;
    font-size: 1.1em;
    font-weight: normal;
    letter-spacing: .03em;
    margin: 0 0 1.5em;
  }

  &__text {
    color: $white;
    font-family: 'PT Serif', serif;
    font-size: .95em;
    line-height: 1.6;
  }

  &__hashtag {
    font-family: 'Rubik', serif;
    font-size: 1.35em;
    text-align: center;
    text-transform: uppercase;

    a {
      color: $goldenbrown;
    }
  }

  .share-links {
    padding: 0;
    text-align: center;

    &__icon {
      display: inline-block;
      width: 2em;
      margin: 0 1em;
    }

    svg {
      width: 1.5em;
    }

    path {
      fill: $light-blue;
    }
  }

  .contribs {
    color: $white;
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
      margin-bottom: 1.5em;
      width: 49%;
    }

    a {
      border-bottom: 2px solid $light-blue;
      color: $white;
      display: inline-block;
      text-decoration: none;
    }

    &__name {
      display: block;
      font-family: 'Rubik', sans-serif;
      font-size: .95em;
    }

    &__info {
      font-family: 'Chathura', sans-serif;
      font-size: 1.35em;
      letter-spacing: .05em;
      line-height: 1;
      text-transform: uppercase;
    }
  }

  &:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }
}

.footer-links {
  background: $black;
  color: $white;
  font-family: 'Rubik', sans-serif;
  font-size: .8em;
  padding: 1em;

  a {
    color: $white;
    text-decoration: none;
  }

  .links {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    border-right: 1px solid $white;
    display: inline;
    padding: 0 .5em;
  }

  .donate {
    border-right: 0;

    a {
      color: $light-blue;
    }
  }

  &:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }
}
