.footer {
  background: $dark-gray;

  &__wrapper {
    margin: 0 auto;
    max-width: $wide-width;
    padding: 2em 1em 0;
    @include clearfix();
  }

  &__title {
    color: $goldenbrown;
    font-family: $rubik;
    font-size: 1.1em;
    font-weight: normal;
    letter-spacing: .03em;
    margin: 0 0 1.5em;
  }

  &__text {
    color: $white;
    font-family: $pt;
    font-size: .95em;
    line-height: 1.6;

    a {
      color: $light-blue;
      box-shadow: $light-blue 0 -2px 0 inset;
    }
  }

  &__social {
    margin-bottom: 1em;

    @include clearfix();
  }

  &__hashtag {
    font-family: 'Rubik', serif;
    font-size: 1.35em;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;

    a {
      color: $light-blue;
    }

    @include breakpoint(nonmobile) {
      float: left;
      padding-right: 1em;
      text-align: right;
      width: 50%;
    }
  }

  .share-links {
    margin: 1em 0;
    padding: 0;
    text-align: center;

    &__icon {
      display: inline-block;
      margin: 0 1em;
      width: 2em;
    }

    svg {
      height: 1.75em;

      path {
        fill: $light-blue;
      }
    }

    @include breakpoint(nonmobile) {
      float: right;
      margin: 0;
      text-align: left;
      width: 50%;
    }
  }

  .contribs {
    color: $white;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 1.5em;

      @include breakpoint(phablet) {
        display: inline-block;
        width: 49%;
      }

      @include breakpoint(desktop) {
        display: inline-block;
        width: 33%;
      }
    }

    a {
      box-shadow: $light-blue 0 -2px 0 inset;
      color: $white;
      display: inline-block;
      text-decoration: none;
    }

    &__name {
      display: block;
      font-family: $rubik;
      font-size: .95em;
    }

    &__info {
      font-family: $chathura;
      font-size: 1.35em;
      letter-spacing: .05em;
      line-height: 1;
      text-transform: uppercase;
    }
  }
}

.footer-links {
  background: $black;
  color: $white;
  font-family: $rubik;
  font-size: .8em;
  padding: 1em;
  text-align: center;

  a {
    color: $white;
    text-decoration: underline;
  }

  &__left {
    margin-bottom: 1em;

    @include breakpoint(desktop) {
      float: left;
      margin: 0;
    }
  }

  .links {
    font-size: 1em;
    list-style: none;
    margin: 0;
    padding: 0;

    @include breakpoint(desktop) {
      float: right;
    }
  }

  li {
    display: inline;
    padding: 0 .5em;

    @include breakpoint(mobile) {
      display: inline-block;
      width: 49%;
      padding: .25em 0;
    }

    @include breakpoint(nonmobile) {
      border-right: 1px solid $white;
    }
  }

  .donate {
    border-right: 0;

    a {
      color: $goldenbrown;
      text-decoration: none;
    }
  }

  &:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }
}
