$text-width: 680px;
$wide-width: 980px;

body {
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: $text-width;
  width: 100%;
}

img {
  max-width: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}
