.header {
  height: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.masthead {
  background-color: $black;
  height: 2em;

  a {
    color: $black;
    text-decoration: none;
  }

  .trib-logo {
    height: 1.2em;
    margin: .4em;
  }
}

.masthead-sections {
  border-radius: .625rem .625rem 0 0;
  color: $white;
  float: right;
  font-family: $chathura;
  font-size: 1.6em;
  letter-spacing: .05em;
  line-height: 1.25em;
  margin-right: 1rem;
  padding: 0 .7em;
  position: relative;
  text-transform: uppercase;

  @include breakpoint(desktop) {
    margin-right: 1.5rem;
  }

  a {
    color: $white;
    display: inline-block;

    &:hover {
      color: $black;

      li {
        background: $white;
      }
    }
  }

  ul {
    display: inline;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    line-height: 1;
    margin: 0;
    text-align: center;
    width: 1em;
  }

  &__mobile {
    @include breakpoint(desktop) {
      display: none;
    }
  }

  &__desktop {
    display: none;

    @include breakpoint(desktop) {
      display: block;
    }
  }

  &:before {
    border-radius: .25rem .625rem 0 0;
    content: '';
    display: block;
    height: 1.25em;
    position: absolute;
    left: -3px;
    top: 0;
    transform: skewX(-20deg);
    width: 15px;
  }

  &:after {
    border-radius: .625rem .25rem 0 0;
    content: '';
    display: block;
    height: 1.25em;
    position: absolute;
    right: -3px;
    top: 0;
    transform: skewX(20deg);
    width: 15px;
  }

  .masthead-story & {
    background: $white;
    color: $black;

    a {
      color: $black;

      &:hover {
        color: $white;

        li {
          background: $orange-red;
        }
      }
    }

    &:before,
    &:after {
      background-color: $white;
    }
  }

  .active-story {
    border: 1px solid $orange-red;
  }
}

.masthead-title {
  border-radius: .625rem .625rem 0 0;
  float: right;
  font-family: $rubik;
  font-size: 1.1em;
  letter-spacing: .02em;
  margin-right: .5em;
  padding: .35em 1em;
  position: relative;
  text-transform: uppercase;

  &:before {
    border-radius: .25rem .625rem 0 0;
    content: '';
    display: block;
    height: 1.8em;
    left: -3px;
    position: absolute;
    top: 0;
    transform: skewX(-20deg);
    width: 15px;
  }

  &:after {
    border-radius: .625rem .25rem 0 0;
    content: '';
    display: block;
    height: 1.8em;
    position: absolute;
    right: -3px;
    top: 0;
    transform: skewX(20deg);
    width: 15px;
  }


  .masthead-mainbar & {
    background-color: $beige;

    &:before,
    &:after {
      background-color: $beige;
    }

  }

  .masthead-story & {

    a {
      color: $white;
    }
  }
}
