.masthead {
  background-color: $black;
  height: 2em;
  position: fixed;
  top: 0;
  width: 100%;

  a {
    color: $black;
    text-decoration: none;
  }

  .trib-logo {
    height: 1.2em;
    margin: .4em;
  }
}

.masthead-sections {
  color: $white;
  float: right;
  font-family: 'Chathura', sans-serif;
  font-size: 1.6em;
  letter-spacing: .05em;
  line-height: 1.25em;
  padding: 0 .5em 0 1em;
  text-transform: uppercase;

  a {
    color: $white;
    display: inline-block;

    &:hover {
      color: $black;

      li {
        background: $white;
      }
    }
  }

  ul {
    display: inline;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    line-height: 1;
    margin: .1em 0;
    text-align: center;
    width: 1em;
  }

  &.story {
    background: $white;
    color: $black;
    position: relative;
    padding: 0 .25em 0 .5em;

    a {
      color: $black;

      &:hover {
        color: $white;

        li {
          background: $orange-red;
        }
      }
    }

    &:before {
      background-color: $white;
      content: '';
      display: block;
      height: 1.25em;
      position: absolute;
      left: -7px;
      top: 0;
      transform: skewX(-20deg);
      width: 15px;
    }
  }

  .active-story {
    border: 1px solid $orange-red;
  }
}

.masthead-title {
  float: right;
  font-family: 'Rubik', sans-serif;
  font-size: 1.1em;
  letter-spacing: .02em;
  padding: .35em .7em;
  position: relative;
  text-transform: uppercase;


  &.mainbar {
    background-color: $beige;

    &:before {
      background-color: $beige;
      content: '';
      display: block;
      height: 1.8em;
      position: absolute;
      left: -10px;
      top: 0;
      transform: skewX(-30deg);
      width: 20px;
    }

    &:after {
      background-color: $beige;
      content: '';
      display: block;
      height: 1.8em;
      position: absolute;
      right: -10px;
      top: 0;
      transform: skewX(30deg);
      width: 20px;
    }
  }

  &.story {
    padding-right: 1em;
    a {
      color: $white;
    }
  }
}
