.header {
  height: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.masthead {
  background-color: $black;
  //border-bottom: .65em solid $white;
  height: 2em; //2.65em.

  a {
    color: inherit;
    text-decoration: none;
  }

  .trib-logo svg {
    height: 1.2em;
    margin: .4em;
  }

  // .mainbar-body & {
  //   border-bottom: .65em solid $beige;
  // }
}

.masthead-sections {
  border-radius: .625rem .625rem 0 0;
  color: $white;
  float: right;
  font-family: $chathura;
  font-size: 1.5em;
  letter-spacing: .05em;
  line-height: 1.35em;
  margin-right: .75rem;
  padding: 0 .7em;
  position: relative;
  text-transform: uppercase;
  transition: background-color .25s, color .25s;

  @include breakpoint(tablet) {
    font-size: 1.6em;
    line-height: 1.25em;
  }

  a {
    color: $white;
    display: inline-block;

    &:hover {
      color: $black;

      li {
        background: $white;
      }
    }
  }

  ul {
    display: inline;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    line-height: 1;
    margin: 0 .1em;
    text-align: center;
    width: 1em;
  }

  &__mobile {
    cursor: pointer;

    @include breakpoint(tablet) {
      display: none;
    }
  }

  &__desktop {
    display: none;

    @include breakpoint(tablet) {
      display: block;
    }
  }

  &:before,
  &:after {
    content: '';
    display: block;
    height: 1.35em;
    position: absolute;
    top: 0;
    transition: background-color .25s, color .25s;
    width: 15px;

    @include breakpoint(tablet) {
      height: 1.25em;
    }
  }

  &:before {
    border-radius: .25rem .625rem 0 0;
    left: -3px;
    transform: skewX(-20deg);
  }

  &:after {
    border-radius: .625rem .25rem 0 0;
    right: -3px;
    transform: skewX(20deg);
  }

  .masthead-story & {
    background: $white;
    color: $black;

    a {
      color: $black;

      &:hover {
        color: $white;

        li {
          background: $orange-red;
        }
      }
    }

    &:before,
    &:after {
      background-color: $white;
    }
  }

  .active-story {
    border: 1px solid $orange-red;
  }

  .bg-goldenbrown.story-body & {
    background-color: $goldenbrown;

    &:before,
    &:after {
      background-color: $goldenbrown;
    }
  }

  .bg-darkgray.story-body & {
    background-color: $dark-gray;
    color: $white;

    a {
      color: $white;
    }

    &:before,
    &:after {
      background-color: $dark-gray;
    }
  }

  .bg-mauve.story-body & {
    background-color: $mauve;

    &:before,
    &:after {
      background-color: $mauve;
    }
  }

  .bg-firebrick.story-body & {
    background-color: $firebrick;
    color: $white;

    a {
      color: $white;
    }

    &:before,
    &:after {
      background-color: $firebrick;
    }
  }

  .bg-beige.story-body & {
    background-color: $beige;

    &:before,
    &:after {
      background-color: $beige;
    }
  }

}

.chevron-down {
  display: inline-block;

  svg {
    vertical-align: middle;
    width: .5em;

    path {
      fill: $black;

      .masthead-mainbar & {
        fill: $white;
      }
    }
  }
}

.masthead-title {
  border-radius: .625rem .625rem 0 0;
  float: right;
  font-family: $rubik;
  font-size: 1em;
  letter-spacing: .02em;
  margin-right: .5em;
  padding: .4em 1em;
  position: relative;
  text-transform: uppercase;
  transition: background-color 0.5s, color 0.5s;

  @include breakpoint(tablet) {
    font-size: 1.1em;
    padding: .35em 1em;
  }

  &:before,
  &:after {
    content: '';
    display: block;
    height: 2em;
    position: absolute;
    top: 0;
    transition: background-color 0.5s, color 0.5s;
    width: 15px;

    @include breakpoint(tablet) {
      height: 1.8em;
    }
  }

  &:before {
    border-radius: .25rem .625rem 0 0;
    left: -3px;
    transform: skewX(-20deg);
  }

  &:after {
    border-radius: .625rem .25rem 0 0;
    right: -3px;
    transform: skewX(20deg);
  }

  .masthead-story & {

    a {
      color: $white;
    }
  }

  .bg-lightblue.mainbar-body & {
    background-color: $light-blue;
    color: $white;

    &:before,
    &:after {
      background-color: $light-blue;
    }
  }

  .bg-darkgray.mainbar-body & {
    background-color: $dark-gray;
    color: $orange-red;

    &:before,
    &:after {
      background-color: $dark-gray;
    }
  }

  .bg-gray.mainbar-body & {
    background-color: $gray;
    color: $tan;


    &:before,
    &:after {
      background-color: $gray;
    }
  }

  .bg-navy.mainbar-body & {
    background-color: $navy;
    color: $goldenbrown;

    &:before,
    &:after {
      background-color: $navy;
    }
  }

  .bg-beige.mainbar-body & {
    background-color: $beige;
    color: $orange-red;

    &:before,
    &:after {
      background-color: $beige;
    }
  }
}
