@mixin clearfix() {
  &:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }
}

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 870px) { @content ; }
  } @else if $point == tablet {
    @media (min-width: 767px) { @content ; }
  } @else if $point == phablet {
    @media (min-width: 550px) { @content ; }
  } @else if $point == nonmobile {
    @media (min-width: 481px) { @content ; }
  } @else if $point == mobile {
    @media (max-width: 480px)  { @content ; }
  }
}
