.navbar {
  background: $white;
  border-bottom: 2px solid $black;
  width: 100%;
  @include clearfix();

  &--desktop {
    border-left: 2px solid $black;
    border-right: 2px solid $black;
    position: absolute;
    right: 0;
    width: 21em;
  }

  .mainbar-body & {
    background: $black;

    a {
      color: $white;
    }
  }

  &__title {
    margin: 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__section {
    background-color: $orange-red;
    color: $white;
    display: inline-block;
    font-family: $chathura;
    font-size: 1.4em; //1.5em
    font-style: normal;
    letter-spacing: .05em;
    line-height: .6;
    margin: 0;
    padding: .25em;
    text-transform: uppercase;
  }

  &__headline {
    font-family: $rubik;
    font-weight: normal;
    margin: .5em 0;
  }

  &__story {
    padding: 1em;
    @include clearfix();

    .navbar--mobile & {
      border-top: 1px solid $orange-red;
      font-family: $chathura;
      font-size: 1.875em;
      line-height: 1;
      padding: .25em;
      text-align: center;
      text-transform: uppercase;

      .navbar__sectionnum {
        color: $orange-red
      }

      &:first-child {
        border-top: 0;
      }
    }
  }
}

.navbar--mobile {
  @media (min-width: 47.9375em) {
    display: none;
  }
}
