.navbar {
  background: $white;
  border-bottom: .2em solid $black;
  display: none;
  width: 100%;
  @include clearfix();

  &--desktop {
    border-left: .2em solid $black;
    border-right: .2em solid $black;
    margin-left: auto;
    margin-right: 0;
    width: 21em;
  }

  .mainbar-body & {
    background: $black;

    a {
      color: $white;
    }
  }

  &__title {
    margin: 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__section.read-more__section {
    margin: 0;
  }

  &__story {
    display: none;
    padding: 1em;
    @include clearfix();

    .navbar--mobile & {
      border-top: 1px solid $orange-red;
      font-family: $chathura;
      font-size: 1.875em;
      line-height: 1;
      padding: .25em;
      text-align: center;
      text-transform: uppercase;

      .navbar__sectionnum {
        color: $orange-red
      }

      &:first-child {
        border-top: 0;
      }
    }
  }
}
