.read-more {

  &__title {
    border-top: 2px solid $black;
    font-family: $rubik;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: .02em;
    margin: .5em 0;
    padding-top: .5em;
  }

  &__story {
    margin-bottom: 2em;

    // @include breakpoint(nonmobile) {
    //   float: left;
    //   margin-right: 2%;
    //   width: 49%;
    //
    //   &:nth-child(2n+2) {
    //     margin-right: 0;
    //   }
    // }

    @include breakpoint(phablet) {
      float: left;
      margin-right: 2%;
      width: 32%;

      // &:nth-child(2n+2) {
      //   margin-right: 2%;
      // }

      &:nth-child(3n+3) {
        margin-right: 0;
      }
    }
  }

  &__section {
    background: $white;
    color: $black;
    display: inline-block;
    font-family: $chathura;
    font-size: 1.4em; //1.5em
    font-style: normal;
    letter-spacing: .05em;
    line-height: .6;
    padding: .25em;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    left: 0;

    a {
      color: $white;
    }
  }

  &__headline {
    font-family: $rubik;
    font-weight: normal;
    margin: .5em 0;
  }

  .image {
    margin: 1em 0 0;
    padding-top: 1.75em;
    position: relative;

    &__img {
      height: 150px;
      margin: 0 auto;
    }

    &.bg-beige {
      background-color: $beige;
    }

    &.bg-lightblue {
      background-color: $light-blue;
    }

    &.bg-mauve {
      background-color: $mauve;
    }

    &.bg-goldenbrown {
      background-color: $goldenbrown;
    }

    &.bg-firebrick {
      background-color: $firebrick;
    }

    &.bg-darkgray {
      background-color: $dark-gray;
    }
  }

  p {
    font-family: $pt;
    font-size: .9em;
    line-height: 1.4;
    margin: 0;
  }

  &:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }
}
