.read-more {
  margin-bottom: 2em;

  &__title {
    border-top: 2px solid $black;
    font-family: $rubik;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: .02em;
    margin: .5em 0;
    padding-top: .5em;
  }

  &__story {
    margin-bottom: 2em;

    @include breakpoint(nonmobile) {
      float: left;
      margin-right: 2%;
      width: 49%;

      &:nth-child(2n+2) {
        margin-right: 0;
      }
    }

    @include breakpoint(desktop) {
      width: 32%;

      &:nth-child(2n+2) {
        margin-right: 2%;
      }

      &:nth-child(3n+3) {
        margin-right: 0;
      }
    }
  }

  &__section {
    background: $orange-red;
    color: $white;
    display: inline-block;
    font-family: $chathura;
    font-size: 1.4em; //1.5em
    font-style: normal;
    letter-spacing: .05em;
    line-height: .6;
    margin: .25em 0;
    padding: .25em;
    text-transform: uppercase;

    a {
      color: $white;
    }
  }

  &__headline {
    font-family: $rubik;
    font-size: 1.2em; //1.25em
    font-weight: normal;
    line-height: 1.2;
    margin: .0 0 .5em;

    a {
      border-bottom: 2px solid $light-blue;
    }
  }

  .thumbnail {
    margin: 1em 0 0;
  }

  p {
    font-family: $pt;
    font-size: .9em;
    line-height: 1.4;
    margin: 0;
  }

  &:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }
}
