//figure out how to change masthead color on each slide

.slide-head {
  font-family: $rubik;
  font-size: 1.25em;
  letter-spacing: .02em;
  line-height: 1.3;
}

.slide-text {
  font-family: $pt;
  line-height: 1.4;
}

.slide-intro {
  background: $light-blue;
  padding: 0 2em;
  @include clearfix;

  &.swiper-slide {
    flex-direction: row;
  }

  &__art {
    width: 40%;
    float: left;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__head {
    width: 60%;
    float: right;
    text-align: center;
  }

  &__title {
    color: $navy;
    font-family: $rubik;
    font-size: 3.5em;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
  }

  &__tag {
    color: $white;
    font-family: $chathura;
    font-size: 1.75em;
    letter-spacing: .04em;
    line-height: 1;
    margin: 0;
    text-transform: uppercase;


  }
}

//colors
.bg-lightblue {
  background-color: $light-blue;

  .highlight,
  a {
    color: $white;
  }

  &.masthead-title::before,
  &.masthead-title::after {
    background-color: $light-blue;
  }
}

.bg-darkgray {
  background-color: $dark-gray;
  color: $white;

  .highlight,
  a {
    color: $goldenbrown;
  }

  &:before,
  &:after {
    background-color: $dark-gray;
  }
}

.bg-beige {
  background-color: $beige;

  .highlight,
  a {
    color: $orange-red;
  }

  &:before,
  &:after {
    background-color: $beige;
  }
}

.bg-navy {
  background-color: $navy;
  color: $white;

  .highlight,
  a {
    color: $goldenbrown;
  }

  &:before,
  &:after {
    background-color: $navy;
  }
}

.bg-gray {
  background-color: $gray;
  color: $white;

  .highlight,
  a {
    color: $tan;
  }

  &:before,
  &:after {
    background-color: $gray;
  }
}
