.slide-head {
  font-family: $rubik;
  font-size: 1.3125em;
  letter-spacing: .02em;
  line-height: 1.3;

  .highlight--big {
    font-size: 2.25em;
    font-weight: 500;
    line-height: 1em;
    vertical-align: middle;
  }
}

.slide-text {
  font-family: $pt;
  line-height: 1.4;

  a {
    text-decoration:underline;
  }
}

.slide-intro {
  background-color: $light-blue;

  &__art {
    width: 40%;

    & svg {
      width: 100%;
      vertical-align: bottom;
    }
  }

  &__head {
    width: 60%;
    text-align: center;

    &.swiper-slide__section {
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }

  &__title {
    color: $navy;
    font-family: $rubik;
    font-size: 3.5em;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
  }

  &__tag {
    color: $white;
    font-family: $chathura;
    font-size: 1.75em;
    letter-spacing: .04em;
    line-height: 1;
    margin: 0;
    text-transform: uppercase;


  }
}

//colors
.bg-lightblue {
  background-color: $light-blue;

  .highlight,
  a {
    color: $white;
  }

  &.masthead-title::before,
  &.masthead-title::after {
    background-color: $light-blue;
  }
}

.bg-darkgray {
  background-color: $dark-gray;
  color: $white;

  .highlight,
  a {
    color: $goldenbrown;
  }

  &:before,
  &:after {
    background-color: $dark-gray;
  }
}

.bg-beige {
  background-color: $beige;

  .highlight,
  a {
    color: $orange-red;
  }

  &:before,
  &:after {
    background-color: $beige;
  }
}

.bg-navy {
  background-color: $navy;
  color: $white;

  .highlight,
  a {
    color: $goldenbrown;
  }

  &:before,
  &:after {
    background-color: $navy;
  }
}

.bg-gray {
  background-color: $gray;
  color: $white;

  .highlight,
  a {
    color: $tan;
  }

  &:before,
  &:after {
    background-color: $gray;
  }
}

.mainbar-container {
  height: 100%;
  left: 0;
  padding-top: 2rem;
  position: absolute;
  top: 0;
  width: 100%;
}

.swiper-container {
  height: 100%;
  width: 100%;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  z-index: 5;

  @media (min-width: 56.1875em) {
    flex-flow: row;
  }
}

.swiper-slide__section {
  flex: 1 0 0;
  margin: 1.25rem .625rem 0;

  &:last-child {
    margin: 0 .625rem .625rem;
  }

  @media (min-width: 56.1875em) {
    margin: 1.25rem;

    &:last-child {
      margin: 1.25rem;
    }
  }
}

.swiper-slide__section--prose {
  @media (min-width: 56.1875em) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.swiper-slide--content {
  flex-flow: column;

  @media (min-width: 56.1875em) {
    flex-flow: row;
  }
}

.graphic-container {
  height: 50%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;

  @media (min-width: 56.1875em) {
    height: 100%;
    width: 50%;
  }
}

.cell--orange-red-light {
  fill: transparentize($orange-red, .7);
}

.cell--orange-red {
  fill: $orange-red;
}

.chart-label {
  font-family: $chathura;
  font-size: 1.75em;

  @include breakpoint(tablet) {
    font-size: 1.875em;
  }
}

.axis .domain,
.axis line {
  display: none;
}

.axis text {
  font-family: $rubik, sans-serif;
  font-size: .875rem;
}

.labels text {
  font-family: $rubik, sans-serif;
  font-size: 1rem;
}

.slider-controls {
  bottom: 0;
  padding: .875rem;
  position: absolute;
  right: 0;
  z-index: 2;
}

.slider-controls__button {
  transition: background-color .3s;

  &:last-child {
    border-left: 1px solid $navy;
    margin-left: .5rem;
  }

  &:hover {
    background-color: rgba(0, 0, 0, .05);
  }
}

.icon {
  display: inline-block;

  svg {
    fill: $navy;
    height: 1em;
    vertical-align: middle;
  }
}

.icon--animated {
  animation: bounce 2s infinite;
}

@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translate3d(0, 0, 0);}
 40% {transform: translate3d(0, -30px, 0);}
 60% {transform: translate3d(0, -15px, 0);}
}
