// sets up the full width/height mainbar container, where all slides and
// graphics live
.mainbar-container {
  height: 100%;
  left: 0;
  padding-top: 2rem; // hard-coded based on the set height of the sticky header
  position: absolute;
  top: 0;
  width: 100%;
}

// tells the swiper container to fill the space provided by .mainbar-container
.swiper-container {
  height: 100%;
  width: 100%;
}

.graphic-container {
  height: 48%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;

  @media (min-width: 56.1875em) {
    height: 100%;
    width: 50%;
  }
}

.swiper-slide {
  display: flex;
  justify-content: center;

  @media (min-width: 56.1875em) {
    align-items: center;
  }
}

.swiper-slide--graphic {
  align-items: flex-end;

  @media (min-width: 56.1875em) {
    align-items: center;
    justify-content: flex-end;
  }
}

.slide-content {
  padding: 1rem;
}

.slide-content--flex {
  @media (min-width: 56.1875em) {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.slide-content--graphic {
  height: 50%;

  @media (min-width: 56.1875em) {
    width: 48%;
  }
}

// .slide-content--graphic {
//   position: absolute;
//   left: 0;
//   top: 42%;
//
//   @media (min-width: 56.1875em) {
//     left: 52%;
//     top: auto;
//   }
// }

.slide-content--flex-child {
  flex: 1 0 0;
}

.splash-art {
  margin-bottom: to-rem(20);
  margin-top: to-rem(10);
  text-align: center;

  svg {
    height: 100%;
    width: 100%;

    @media (min-width: 56.1875em) {
      width: 90%;
    }
  }
}

.splash-header {
  text-align: center;
}

.splash-header__title {
  color: $navy;
  font-family: $rubik;
  font-size: 12vw;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;

  @media (min-width: 56.1875em) {
    font-size: 3.5rem;
  }

  @media (min-width: 81.25em) {
    font-size: 4.5rem;
  }
}

.splash-header__subtitle {
  color: $white;
  font-family: $chathura;
  font-size: 7.5vw;
  letter-spacing: .04em;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;

  @media (min-width: 56.1875em) {
    font-size: 1.75rem;
  }

  @media (min-width: 81.25em) {
    font-size: 2.25rem;
  }
}

.slide-prose {
  margin-left: auto;
  margin-right: auto;
  max-width: to-rem(800);

  @media (min-width: 56.1875em) {
    margin-top: 0;
  }

  > p {
    @include font-size(16);
    font-family: $pt;
    line-height: 1.4;
    margin: 0 0 1rem;

    @media (min-width: 56.1875em) {
      @include font-size(24);
      line-height: 1.5;
    }
  }
}

.slide-prose__header {
  @include font-size(18);
  font-family: $rubik;
  letter-spacing: .02em;
  line-height: 1.3;
  margin: 0 0 1rem;

  @media (min-width: 56.1875em) {
    @include font-size(30);
  }
}

.bg-lightblue {
  background-color: $light-blue;

  .highlight,
  a {
    color: $white;
  }

  &.masthead-title:before,
  &.masthead-title:after {
    background-color: $light-blue;
  }
}

.slider-controls {
  bottom: 0;
  padding: .875rem;
  position: absolute;
  right: 0;
  z-index: 2;
}

.slider-controls__button {
  transition: background-color .3s;

  &:last-child {
    border-left: 1px solid $navy;
    margin-left: .5rem;
  }

  &:hover {
    background-color: rgba(0, 0, 0, .05);
  }
}

.icon {
  display: inline-block;

  svg {
    fill: $navy;
    height: 1em;
    vertical-align: middle;
  }
}

.icon--animated {
  animation: bounce 2s infinite;
  will-change: transform;
}

@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translate3d(0, 0, 0);}
 40% {transform: translate3d(0, -30px, 0);}
 60% {transform: translate3d(0, -15px, 0);}
}

.axis .domain,
.axis line {
  display: none;
}

.axis text {
  font-family: $rubik, sans-serif;
  font-size: .875rem;
}

.labels text {
  font-family: $rubik, sans-serif;
  font-size: 1rem;
}
