//figure out how to change masthead color on each slide

.slide-head {
  font-family: $rubik;
  font-size: 1.25em;
  letter-spacing: .02em;
  line-height: 1.3;
}

.slide-text {
  font-family: $pt;
  line-height: 1.4;
}

.slide-intro {
  background: $light-blue;
  padding: 0 2em;
  @include clearfix;

  &.swiper-slide {
    flex-direction: row;
  }

  &__art {
    width: 40%;
    float: left;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__head {
    width: 60%;
    float: right;
    text-align: center;
  }

  &__title {
    font-family: $rubik;
    font-size: 3.125em;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
  }
}

//colors
.slide-2 {
  background: $dark-gray;
  color: $white;

  .highlight,
  a {
    color: $goldenbrown;
  }
}

.mainbar-container {
  height: 100%;
  left: 0;
  padding-top: 2rem;
  position: absolute;
  top: 0;
  width: 100%;
}

.swiper-container {
  height: 100%;
  width: 100%;
}

.swiper-slide {
  display: flex;
  flex-direction: column;

  @media (min-width: 56.1875em) {
    flex-flow: row;
  }
}

.swiper-slide__section {
  flex: 1 0 0;
  margin: 1.25rem .625rem 0;

  &:last-child {
    margin: 0 .625rem .625rem;
  }

  @media (min-width: 56.1875em) {
    margin: 1.25rem;

    &:last-child {
      margin: 1.25rem;
    }
  }
}

.swiper-slide__section--prose {
  @media (min-width: 56.1875em) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.swiper-slide--content {
  flex-flow: column;

  @media (min-width: 56.1875em) {
    flex-flow: row;
  }
}

// .slide-graphic {
//   height: 50%;
//   margin-bottom: 2rem;
//   margin-left: 2rem;
//   margin-right: 2rem;
//   margin-top: 6rem;
//   width: 80vw;
//
//   @media (min-width: 56.1875em) {
//     height: 70vh;
//     margin-top: 2rem;
//     width: 100%;
//   }
// }
//
// .slide-prose {
//   height: 50%;
//   padding: 2rem;
// }
