// sets up the full width/height mainbar container, where all slides and
// graphics live
.mainbar-container {
  height: 100%;
  left: 0;
  padding-top: 2rem; // hard-coded based on the set height of the sticky header
  position: absolute;
  top: 0;
  width: 100%;
}

// tells the swiper container to fill the space provided by .mainbar-container
.swiper-container {
  height: 100%;
  width: 100%;
}

.graphic-container {
  height: 48%;
  left: 0;
  pointer-events: none; // allow things to be clickable again
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;

  @media (min-width: 56.1875em) {
    height: 100%;
    width: 50%;
  }
}

.graphic-container--inverted {
    left: auto;
    right: 0;
}

.swiper-slide {
  align-items: center;
  color: $white;
  display: flex;
  justify-content: center;
  transition: background-color 0.5s, color 0.5s;

  .bg-lightblue & {
    background-color: $light-blue;
    color: $black;

    a {
      box-shadow: $white 0 -2px 0 inset;
      color: $white;
    }
  }

  .bg-darkgray & {
    background-color: $dark-gray;
  }

  .bg-darkgray-orange & {
    background-color: $dark-gray;
  }

  .bg-gray & {
    background-color: $gray;

    a {
      box-shadow: $tan 0 -2px 0 inset;
      color: $tan;
    }
  }

  .bg-navy & {
    background-color: $navy;
  }

  .bg-beige & {
    background-color: $beige;
    color: $black;
  }

  // &.bg-question {
  //   background-image: url('/unholstered/raw_assets/images/illustrations/question.svg');
  //   background-repeat: no-repeat;
  //   background-position: 50%;
  //   background-size: 40%;
  // }

  .background-art {
    position: absolute;
    width: 70%;

    @include breakpoint(phablet) {
      width: 30%;
    }

    svg {
      fill-opacity: .2;
    }
  }

  .bg-image {
    z-index: 1000;
  }
}

.swiper-slide--splash {
  align-items: stretch;
//
  @media (min-width: 56.1875em) {
    align-items: center;
  }
}

.swiper-slide--graphic {
  align-items: flex-end;

  @media (min-width: 56.1875em) {
    align-items: center;
    justify-content: flex-end;
  }
}

.swiper-slide--graphic-inverted {
  align-items: flex-end;

  @media (min-width: 56.1875em) {
    align-items: center;
    justify-content: flex-start;
  }
}

.slide-content {
  padding: 1.875rem;
}

.slide-content--flex {
  @media (min-width: 56.1875em) {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.slide-content--graphic {
  height: 49%;

  @media (min-width: 56.1875em) {
    height: auto;
    width: 46%;
  }
}

// .slide-content--graphic {
//   position: absolute;
//   left: 0;
//   top: 42%;
//
//   @media (min-width: 56.1875em) {
//     left: 52%;
//     top: auto;
//   }
// }

.slide-content--flex-child {
  flex: 1 0 0;
}

.splash-art {
  margin-bottom: to-rem(20);
  margin-top: to-rem(10);
  text-align: center;

  svg {
    height: 100%;
    width: 100%;

    @media (min-width: 56.1875em) {
      width: 90%;
    }
  }
}

.splash-header {
  text-align: center;
}

.splash-header__title {
  color: $navy;
  font-family: $rubik;
  font-size: 12vw;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;

  @media (min-width: 56.1875em) {
    font-size: 3.5rem;
  }

  @media (min-width: 81.25em) {
    font-size: 4.5rem;
  }
}

.splash-header__subtitle {
  background: $white;
  display: inline-block;
  font-family: $chathura;
  font-size: 7vw;
  letter-spacing: .05em;
  line-height: 1;
  padding: 0 .5rem;
  margin: .25rem 0 0 0;
  text-transform: uppercase;

  @media (min-width: 56.1875em) {
    font-size: 1.75rem;
  }

  @media (min-width: 81.25em) {
    font-size: 2.25rem;
  }
}

.slide-prose {
  margin-left: auto;
  margin-right: auto;
  max-width: to-rem(800);

  @media (min-width: 56.1875em) {
    margin-top: 0;
  }

  > p {
    @include font-size(16);
    font-family: $pt;
    line-height: 1.4;
    margin: 0 0 1rem;

    .swiper-slide:last-child & {
      @include font-size(14);
      text-align: center;

      &.first {
        @include font-size(18);
        margin-bottom: 2em;
      }

      &.label {
        font-size: 1em;
        text-transform: uppercase;
        margin-bottom: .25em;
      }
    }

    @media (min-width: 56.1875em) {
      @include font-size(24);
      line-height: 1.5;

      .swiper-slide:last-child & {
        @include font-size(16);

        &.first {
          @include font-size(20);
        }
      }
    }
  }
}

.slide-prose__header {
  @include font-size(18);
  font-family: $rubik;
  letter-spacing: .02em;
  line-height: 1.5;
  margin: 0 0 1rem;

  .highlight {
    font-weight: 500;
  }

  .bg-lightblue & {
    color: $navy;
    font-weight: 500;
  }

  @media (min-width: 56.1875em) {
    @include font-size(30);
  }
}

.slider-controls {
  bottom: 0;
  padding: .875rem;
  position: absolute;
  right: 0;
  z-index: 2;
}

.slider-controls__button {
  margin-left: .5rem;
  transition: background-color .3s;
  background-color: rgba(255, 255, 255, .2);

  .bg-darkgray &,
  .bg-navy & {
    background-color: rgba(0, 0, 0, .2);
  }

  &:hover {

    background-color: rgba(255, 255, 255, .4);

    .bg-darkgray &,
    .bg-navy & {
      background-color: rgba(0, 0, 0, .4);
    }
  }

  // &:focus {
  //   outline: none;
  // }
}

.icon-text {
  padding-right: to-rem(4);
}

.icon {
  color: $white;
  display: inline-block;
  transition: color 0.5s, color 0.5s;

  &.icon--replay {
    svg {
      padding: 0 0 0 .2em;
    }
  }

  svg {
    fill: currentColor;
    height: 1em;
    vertical-align: sub;
  }

  .bg-lightblue & {
    color: $black;
  }

  .bg-beige & {
    color: $black;
  }
}

.icon--animated {
  animation-delay: 4s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: bounce;
  will-change: transform;
}

@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translate3d(0, 0, 0);}
 40% {transform: translate3d(0, -30px, 0);}
 60% {transform: translate3d(0, -15px, 0);}
}

.bar-chart-axis,
.box-chart-axis {
   .domain,
   line {
    display: none;
  }
}

.whole-chart-axis {
  .domain,
  line {
    stroke: $white;
  }

  text {
    fill: $white;
    font-size: .75rem;
    letter-spacing: .03em;
  }
}

.axis text {
  font-family: $rubik, sans-serif;
  font-size: .875rem;
}

text.label {
  font-family: $rubik, sans-serif;
  font-size: 1rem;
}

.highlight {
  color: $white;
  font-weight: 700;
  transition: color 0.5s;
}

.highlight--light-blue {
  color: $light-blue;
}

.highlight--red {
  color: $orange-red;
}

.highlight--orange {
  color: $orange;
}

.highlight--yellow {
  color: $goldenbrown;
}

.highlight--beige {
  color: $beige;
}

.highlight--big {
  font-size: 1.5em;
  font-weight: 500;
  line-height: 0;
}

.swiper-pagination-progressbar {
  .bg-lightblue & {
    background-color: $white;
  }

  .bg-darkgray & {
    background-color: $orange-red;
  }

  .bg-darkgray-orange & {
    background-color: $orange;
  }

  .bg-gray & {
    background-color: $tan;
  }

  .bg-navy & {
    background-color: $goldenbrown;
  }

  .bg-beige & {
    background-color: $orange-red;
  }
}

.chart-label {
  color: $white;
  font-family: $rubik;
  font-size: .75rem;
  position: absolute;
  text-align: center;
  width: 100%;

  @media (min-width: 56.1875em) {
    font-size: 1rem;
  }

  .bg-lightblue & {
    color: $black;
  }

  .bg-beige & {
    color: $black;
  }
}

.gradient-bar-text {
  fill: $white;
  font-family: $rubik;
  font-size: 1.25rem;
  line-height: 1;
}

.whole-bar-text {
  fill: $white;
  font-family: $rubik;
  font-size: 1.25rem;
  line-height: 1;
}

.grid-label {
  fill: $white;
  font-family: $rubik;
  font-size: .875rem;
  line-height: 1;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);

  @media (min-width: 56.1875em) {
    font-size: 1.2rem;
  }

  &:before {
    background-color: red;
  }
}

.grid-label-background {
  fill: rgb(0, 0, 0);
  opacity: 0.45;
}
