.wrapper {
  &__story {
    margin: 2em auto;
    max-width: $text-width;
    width: 100%;

    a {
      box-shadow: $light-blue 0 -2px 0 inset;
      color: $black;
      text-decoration: none;
    }

    p {
      font-family: $pt;
      font-size: 1.125em;
      line-height: 1.5em;
      margin: .5em 0 1.5em;
    }

    .social {
      float: right;

      @include breakpoint(mobile) {
        float: none;
        margin-top: -1em;
        text-align: center;
      }

      &__icon {
        background: $light-blue;
        box-shadow: none;
        color: $white;
        display: inline-block;
        margin-left: 1em;
        padding: .5em;
        text-align: center;

        svg {
          height: 1.5em;
          width: 1.5em;

          path {
            fill: $white;
          }
        }

        &:hover {
          background: $orange-red;
        }
      }
    }
  }
}

.sty-header {
  padding: 1em 0;

  @include breakpoint(phablet) {
    padding: 2em 0 1em;
  }

  .bg-lightblue & {
    background-color: $light-blue;
  }

  .bg-darkgray & {
    background-color: $dark-gray;
    color: $white;
  }

  .bg-gray & {
    background-color: $gray;
    color: $white;
  }

  .bg-navy & {
    background-color: $navy;
    color: $white;
  }

  .bg-beige & {
    background-color: $beige;

    a {
      color: $black;
    }
  }

  &__wrapper {
    margin: 0 auto;
    max-width: $mid-width;
    padding: 2em 1em 0;

    a {
      box-shadow: $light-blue 0 -2px 0 inset;
      color: $black;
      display: inline-block;
      text-decoration: none;
    }
  }

  &__bar {
    background: $orange-red;
    color: $white;
    display: inline-block;
    font-family: $chathura;
    font-size: 1.5em;
    letter-spacing: .05em;
    line-height: 1;
    padding: 0 .5em;
    text-transform: uppercase;

    @include breakpoint(phablet) {
      font-size: 1.75em;
    }
  }

  &__headline {
    font-family: $rubik;
    font-size: 1.85em;
    font-weight: 400;
    letter-spacing: .02em;
    line-height: 1.1;
    margin: .5em 0;

    @include breakpoint(phablet) {
      font-size: 2em;
    }

    @include breakpoint(tablet) {
      font-size: 2.5em;
    }
  }

  &__art {
    svg {
      width: 100%;
    }
  }

  &__byline {
    font-family: $chathura;
    font-size: 1.5em;
    letter-spacing: .05em;
    line-height: 1;
    margin: 0;
    text-transform: uppercase;

    @include breakpoint(phablet) {
      font-size: 1.75em;
    }

    a {
      color: $white;
    }
  }
}

.image {
  margin: 1em 0;

  @include breakpoint(mobile) {
    margin: 1em -1em;
  }

  &__img {
    display: block;
  }

  &__caption {
    color: $gray;
    font-family: $chathura;
    font-size: 1.4em;
    letter-spacing: .02em;
    line-height: .75;

    @include breakpoint(mobile) {
      margin: 0 1em;
    }

    @include breakpoint(phablet) {
      font-size: 1.5em;
    }
  }

  &__credit {
    color: $gray;
    display: block;
    font-family: $pt;
    font-size: .7em;
    margin: .25em;
    text-align: right;
  }
}

.subhead {
  font-family: $rubik;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: .02em;
  margin: 1em 0 0;
  position: relative;

  @include breakpoint(phablet) {
    margin: 1.5em 0 0;
  }
}

.inline {
  margin: 1em 0;

  @include breakpoint(phablet) {
    &--left {
      float: left;
      margin: 1em 1em 1em 0;
      width: 60%;

      @include breakpoint(desktop) {
        margin-left: -5em;
      }
    }

    &--right {
      float: right;
      margin: 1em 0 1em 1em;
      width: 60%;

      @include breakpoint(desktop) {
        margin-right: -5em;
      }
    }
  }
}

.blockquote {
  margin: 0;
  padding: 1em 0;

  .quote {
    color: $orange-red;
    font-family: $rubik;
    font-size: 1.5em;
    line-height: 1.4;
    margin: 0 0 .5em;

    @include breakpoint(tablet) {
      font-size: 1.75em;
    }
  }

  &__credit {
    font-family: $chathura;
    font-size: 1.5em;
    font-style: normal;
    letter-spacing: .05em;
    line-height: .75;
    text-transform: uppercase;

    &:before {
      content: '-';
      padding-right: .2em;
    }
  }
}

.comments {
  padding-bottom: 1em;
}
