.wrapper {
  a {
    border-bottom: 2px solid $light-blue;
    color: $black;
    display: inline-block;
    text-decoration: none;
  }

  p {
    font-family: $pt;
    font-size: 1.1em;
    line-height: 1.4em;
  }
}

.sty-header {
  padding: 2em 0 1em;

  &.offduty {
    background-color: $brown-gray;
  }

  &__wrapper {
    margin: 0 auto;
    max-width: $mid-width;
  }

  &__bar {
    background: $light-blue;
    color: $white;
    display: inline-block;
    font-family: $chathura;
    font-size: 1.875em;
    letter-spacing: .05em;
    line-height: 1;
    padding: 0 .5em;
    text-transform: uppercase;
  }

  &__headline {
    font-family: $rubik;
    font-size: 2.5em;
    font-weight: 400;
    letter-spacing: .02em;
    line-height: 1.1;
    margin: .5em 0;

    .offduty & {
      color: $white;
    }
  }

  &__art {
    svg {
      width: 100%;
    }
  }

  &__byline {
    color: $gray;
    font-family: $chathura;
    font-size: 1.75em;
    letter-spacing: .05em;
    line-height: 1;
    margin: 0;
    text-transform: uppercase;

    a {
      color: $gray;
    }

    .offduty & {
      color: $white;

      a {
        color: $white;
      }
    }
  }
}

.story {
  padding: 1em 0 2em;
}

.image {
  margin: 1em;

  &__img {
    display: block;
  }

  &__caption {
    color: $gray;
    font-family: $chathura;
    font-size: 1.5em;
    letter-spacing: .02em;
    line-height: .75;
  }

  &__credit {
    color: $gray;
    display: block;
    font-family: $pt;
    font-size: .7em;
    margin-bottom: .25em;
    text-align: right;
  }
}

.subhead {
  font-family: $rubik;
  font-size: 1.2em;
  letter-spacing: .02em;
  margin: 1.5em 0;
  padding-left: 1em;
  position: relative;

  &:before {
    background-color: $orange-red;
    content: '';
    display: block;
    height: .5em;
    left: 0;
    position: absolute;
    top: 0;
    width: .5em;
  }

  &:after {
    background-color: $orange-red;
    content: '';
    display: block;
    height: .5em;
    left: 0;
    position: absolute;
    top: .75em;
    width: .5em;
  }
}

.inline {
  margin: 1em;

  &--left {
    float: left;
    margin-left: -5em;
    width: 60%;
  }

  &--right {
    float: right;
    margin-right: -5em;
    width: 60%;
  }
}

.blockquote {
  margin: 1em;

  .quote {
    color: $orange-red;
    font-family: $rubik;
    font-size: 1.75em;
    line-height: 1.25;
    margin: 0 0 .5em;
  }

  &__credit {
    font-family: $chathura;
    font-size: 1.5em;
    font-style: normal;
    letter-spacing: .05em;
    line-height: .75;
    text-transform: uppercase;

    &:before {
      content: '-';
      padding-right: .2em;
    }
  }
}
