.wrapper {
  &__story {
    margin: 0 auto;
    max-width: $text-width;
    width: 100%;

    a {
      border-bottom: 2px solid $light-blue;
      color: $black;
      display: inline-block;
      text-decoration: none;
    }

    p {
      font-family: $pt;
      font-size: 1em;
      line-height: 1.4em;

      @include breakpoint(tablet) {
        font-size: 1.1em;
      }
    }
  }
}

.sty-header {
  padding: 1em 0;

  @include breakpoint(phablet) {
    padding: 2em 0 1em;
  }

  &.offduty {
    background-color: $dark-gray;
  }

  &__wrapper {
    margin: 0 auto;
    max-width: $mid-width;
    padding: 0 1em;

    a {
      border-bottom: 2px solid $light-blue;
      color: $black;
      display: inline-block;
      text-decoration: none;
    }
  }

  &__bar {
    background: $light-blue;
    color: $white;
    display: inline-block;
    font-family: $chathura;
    font-size: 1.5em;
    letter-spacing: .05em;
    line-height: 1;
    padding: 0 .5em;
    text-transform: uppercase;

    @include breakpoint(phablet) {
      font-size: 1.75em;
    }

    @include breakpoint(tablet) {
      font-size: 1.875em;
    }
  }

  &__headline {
    font-family: $rubik;
    font-size: 1.85em;
    font-weight: 400;
    letter-spacing: .02em;
    line-height: 1.1;
    margin: .5em 0;

    @include breakpoint(phablet) {
      font-size: 2em;
    }

    @include breakpoint(tablet) {
      font-size: 2.5em;
    }

    .offduty & {
      color: $white;
    }
  }

  &__art {
    svg {
      width: 100%;
    }
  }

  &__byline {
    color: $gray;
    font-family: $chathura;
    font-size: 1.5em;
    letter-spacing: .05em;
    line-height: 1;
    margin: 0;
    text-transform: uppercase;

    @include breakpoint(phablet) {
      font-size: 1.75em;
    }

    a {
      color: $gray;
    }

    .offduty & {
      color: $white;

      a {
        color: $white;
      }
    }
  }
}

.story {
  padding: 1em 0 2em;
}

.image {
  margin: 1em 0;

  @include breakpoint(mobile) {
    margin: 1em -1em;
  }

  &__img {
    display: block;
  }

  &__caption {
    color: $gray;
    font-family: $chathura;
    font-size: 1.4em;
    letter-spacing: .02em;
    line-height: .75;

    @include breakpoint(mobile) {
      margin: 0 1em;
    }

    @include breakpoint(phablet) {
      font-size: 1.5em;
    }
  }

  &__credit {
    color: $gray;
    display: block;
    font-family: $pt;
    font-size: .7em;
    margin: .25em;
    text-align: right;
  }
}

.subhead {
  font-family: $rubik;
  font-size: 1.1em;
  letter-spacing: .02em;
  margin: 1em 0;
  padding-left: 1em;
  position: relative;

  @include breakpoint(phablet) {
    font-size: 1.2em;
    margin: 1.5em 0;
  }

  &:before {
    background-color: $orange-red;
    content: '';
    display: block;
    height: .5em;
    left: 0;
    position: absolute;
    top: 0;
    width: .5em;
  }

  &:after {
    background-color: $orange-red;
    content: '';
    display: block;
    height: .5em;
    left: 0;
    position: absolute;
    top: .75em;
    width: .5em;
  }
}

.inline {
  margin: 1em 0;

  @include breakpoint(phablet) {
    &--left {
      float: left;
      margin: 1em 1em 1em 0;
      width: 60%;

      @include breakpoint(desktop) {
        margin-left: -5em;
      }
    }

    &--right {
      float: right;
      margin: 1em 0 1em 1em;
      width: 60%;

      @include breakpoint(desktop) {
        margin-right: -5em;
      }
    }
  }
}

.blockquote {
  margin: 0;

  @include breakpoint(phablet) {
    margin: 0;
    padding: 1em 0;
  }

  .quote {
    color: $orange-red;
    font-family: $rubik;
    font-size: 1.5em;
    line-height: 1.4;
    margin: 0 0 .5em;

    @include breakpoint(tablet) {
      font-size: 1.75em;
    }
  }

  &__credit {
    font-family: $chathura;
    font-size: 1.5em;
    font-style: normal;
    letter-spacing: .05em;
    line-height: .75;
    text-transform: uppercase;

    &:before {
      content: '-';
      padding-right: .2em;
    }
  }
}
