.wrapper {
  &__story {
    margin: 2em auto;
    max-width: $text-width;
    width: 100%;

    @include breakpoint(tablet) {
        padding: 0 1em;
    }

    @include breakpoint(desktop) {
        padding: 0;
    }

    a {
      box-shadow: $light-blue 0 -2px 0 inset;
      color: $black;
      text-decoration: none;
    }

    p,
    ul {
      font-family: $pt;
      font-size: 1.125em;
      line-height: 1.5em;
      margin: .5em 0 1.5em;

      &.feedback,
      &.disclosure {
        font-family: $rubik;
        font-size: 1em;
        color: $gray;
      }

      &.disclosure {
        font-style: italic;
      }
    }

    .numbered-list {
      font-family: $rubik;
      font-weight: 500;
      font-size: 1.5em;
      margin-right: .25em;
      color: $orange-red;
    }

    .social {
      text-align: center;
      margin-bottom: 1em;

      @include breakpoint(phablet) {
        margin: -.5em 1em 1.5em;
      }

      @include breakpoint(tablet) {
        margin: 0;
        position: absolute;
        left: -0;
      }

      &__icon {
        background: $light-blue;
        box-shadow: none;
        color: $white;
        display: inline-block;
        width: 3em;
        height: 3em;
        margin-left: 1em;
        padding: .75em;
        text-align: center;

        @include breakpoint(tablet) {
          display: block;
          width: 3em;
          height: 3em;
          padding: .75em;
          margin: 0;
          top: 0;

          &:last-child {
            margin-top: 1em;
          }
        }

        svg {
          height: 1.5em;
          width: 1.5em;

          path {
            fill: $white;
          }
        }

        &:hover {
          background: $orange-red;
        }
      }
    }
  }
}

.sty-header {
  padding: 1em 0;

  &.tall-head {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  @include breakpoint(phablet) {
    padding: 2em 0 1em;
  }

  @include breakpoint(phablet) {
    &.tall-head {
      .sty-header__top-text,
      .sty-header__byline {
          float: left;
          width: 45%;
          margin-right: 3%;
          margin-top: 0;
      }

      .sty-header__headline {
        margin-bottom: 1em;
      }

      .sty-header__art {
        float: right;
        margin: 0;
        width: 52%;

        svg {
          margin: 0;
          max-height: 475px;
          width: 100%;
        }
      }
    }
  }

  .bg-lightblue & {
    background-color: $light-blue;
  }

  .bg-darkgray & {
    background-color: $dark-gray;
    color: $white;
  }

  .bg-gray & {
    background-color: $gray;
    color: $white;
  }

  .bg-navy & {
    background-color: $navy;
    color: $white;
  }

  .bg-mauve & {
    background-color: $mauve;

    a {
      color: $black;
      box-shadow: $white 0 -2px 0 inset;
    }

    .sty-header__headline  {
      font-weight: 500;
    }
  }

  .bg-goldenbrown & {
    background-color: $goldenbrown;

    a {
      color: $black;
      box-shadow: $white 0 -2px 0 inset;
    }

    .sty-header__headline  {
      font-weight: 500;
    }
  }

  .bg-firebrick & {
    background-color: $firebrick;
    color: $white;
  }

  .bg-beige & {
    background-color: $beige;

    a {
      color: $black;
    }

    .sty-header__headline  {
      font-weight: 500;
    }
  }

  &__wrapper {
    margin: 0 auto;
    max-width: $mid-width;
    padding: 2em 1em 0;
    @include clearfix();

    a {
      box-shadow: $light-blue 0 -2px 0 inset;
      color: $black;
      display: inline-block;
      text-decoration: none;
    }
  }

  &__bar {
    background: $orange-red;
    color: $white;
    display: inline-block;
    font-family: $chathura;
    font-size: 1.5em;
    letter-spacing: .05em;
    line-height: 1;
    padding: 0 .5em;
    text-transform: uppercase;

    @include breakpoint(phablet) {
      font-size: 1.75em;
    }
  }

  &__headline {
    font-family: $rubik;
    font-size: 1.85em;
    font-weight: 400;
    letter-spacing: .02em;
    line-height: 1.1;
    margin: 0;

    @include breakpoint(phablet) {
      font-size: 2em;
    }

    @include breakpoint(tablet) {
      font-size: 2.5em;
    }

    .about & {
      color: $navy;
      font-weight: 500;
      text-align: center;
    }
  }

  &__art {

    svg {
      max-height: 325px;
      display: block;
      height: 100%;
      width: 80%;
      margin: 1.5em 10%;


      .st9,
      .st1 {
        stroke-width: 0px;
      }
    }
  }

  &__byline {
    font-family: $chathura;
    font-size: 1.5em;
    letter-spacing: .05em;
    line-height: 1;
    text-transform: uppercase;

    @include breakpoint(phablet) {
      font-size: 1.75em;
    }

    a {
      color: $white;
    }

    .sty-header__date {
      &:before {
        content: "/";
        padding-right: .25em;
      }

      .tall-head & {
        display: block;

        &:before {
          content: "";
          padding-right: 0;
        }
      }
    }
  }
}

.image {
  margin: 1em 0;

  @include breakpoint(mobile) {
    margin: 1em -1em;
  }

  &__img {
    display: block;
  }

  &__caption {
    color: $dark-gray;
    font-family: $rubik;
    font-size: .85em;

    @include breakpoint(mobile) {
      margin: 0 1em;
    }
  }
}

.image__credit,
.illustration-credit {
  color: gray;
  display: block;
  font-family: $chathura;
  font-size: 1.35em;
  font-style: normal;
  letter-spacing: .02em;
  margin: .5em 0;
  line-height: 0;
}

.illustration-credit {
  position: absolute;
  right: 0.25em;
}

.subhead {
  font-family: $rubik;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: .02em;
  margin: 1em 0 0;
  position: relative;

  @include breakpoint(phablet) {
    margin: 1.5em 0 0;
  }
}

.inline {
  margin: 1em 0;

  @include breakpoint(phablet) {
    &--left {
      float: left;
      margin: 1em 2em 1em 0;
      width: 60%;

      &.small {
        width: 40%;
      }

      @include breakpoint(desktop) {
        margin-left: -5em;
      }
    }

    &--right {
      float: right;
      margin: 1em 0 1em 2em;
      width: 60%;

      &.small {
        width: 40%;
      }

      @include breakpoint(desktop) {
        margin-right: -5em;
      }
    }
  }
}

.blockquote {
  margin: 0;
  padding: 1em 0;

  .quote {
    color: $orange-red;
    font-family: $rubik;
    font-size: 1.5em;
    line-height: 1.4;
    margin: 0 0 .5em;

    @include breakpoint(tablet) {
      font-size: 1.75em;
    }
  }

  &__credit {
    font-family: $chathura;
    font-size: 1.5em;
    font-style: normal;
    letter-spacing: .05em;
    line-height: .75;
    text-transform: uppercase;

    &:before {
      content: '-';
      padding-right: .2em;
    }
  }

  .full & {
    margin: 0 -3em;

    .quote {
      font-size: 1.75em;

      @include breakpoint(tablet) {
        font-size: 2em;
      }
    }
  }
}

.comments {
  padding-bottom: 1em;
}

.bullet-list {
  li {
    list-style-type: square;
    color: $orange-red;
    margin: .5em 0 0;

    span {
      color: $black;
    }
  }

  .about & {
    li {
      @include breakpoint(phablet) {
        display: inline-block;
        width: 32%;
      }
    }
  }
}

.asterisk {
  width: .5em;
  height: .5em;
  background-color: $orange-red;
  display: inline-block;
  margin: 0 .35em 0.1em 0;
}

.download {
  background-color: $light-blue;
  border: 1px solid $navy;
  padding: .75em;
  font-family: 'rubik';
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: .02em;
  margin: 0 auto 1em;
  text-align: center;
  width: 80%;

  @include breakpoint(phablet) {
    width: 40%;
  }

  a & {
    color: $navy;
    box-shadow: none;
  }

  &:hover {
    background-color: lighten($light-blue, 10);
  }
}
