//fonts
@import url(https://fonts.googleapis.com/css?family=Chathura:800);
@import url(https://fonts.googleapis.com/css?family=Rubik:400,500);
@import url(https://fonts.googleapis.com/css?family=PT+Serif);

//helpers
@import 'grid';
@import 'colors';

html {
  box-sizing: border-box;
  margin-top: 2em; /*offsets fixed header*/
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: $black;
  text-decoration: none;
}

//sections
@import 'masthead';
@import 'navbar';
@import 'story';
@import 'readmore';
@import 'footer';

.mainbar-body {
  background: $beige;
}
