//fonts
@import url(https://fonts.googleapis.com/css?family=Chathura:800);
@import url(https://fonts.googleapis.com/css?family=Rubik:400,500);
@import url(https://fonts.googleapis.com/css?family=PT+Serif);

//imports
@import 'grid';
@import 'colors';
@import 'masthead';

a {
  color: $black;
  text-decoration: none;
}

.first {
  color: $olive;
  font-weight: 700;
}

body.mainbar {
  background: $beige;
}

section {
  padding-top: 2em;
}


.story-header { margin-top: 2em; }
