//fonts
@import url(https://fonts.googleapis.com/css?family=Chathura:800);
@import url(https://fonts.googleapis.com/css?family=Rubik:400,500);
@import url(https://fonts.googleapis.com/css?family=PT+Serif);

//helpers
@import 'grid';
@import 'colors';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: $black;
  text-decoration: none;
}

//sections
@import 'masthead';
@import 'story';
@import 'readmore';
@import 'footer';

.first {
  color: $olive;
  font-weight: 700;
}

img {
  max-width: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.mainbar-body {
  background: $beige;
}
