//fonts
@import url(https://fonts.googleapis.com/css?family=Chathura:800);
@import url(https://fonts.googleapis.com/css?family=Rubik:400,500);
@import url(https://fonts.googleapis.com/css?family=PT+Serif);

//imports
@import 'grid';
@import 'colors';
@import 'masthead';
@import 'story';
@import 'footer';

.first {
  color: $olive;
  font-weight: 700;
}

img {
  max-width: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.mainbar-body {
  background: $beige;
}

section {
  padding-top: 2em;
}
