// fonts
$rubik: 'Rubik', sans-serif;
$chathura: 'Chathura', sans-serif;
$pt: 'PT Serif', serif;

$font-size-base: 16;

// helpers
@import 'functions';
@import 'mixins';
@import 'layout';
@import 'colors';

// sections
@import 'base';
@import 'masthead';
@import 'navbar';
@import 'story';
@import 'readmore';
@import 'footer';
@import 'ads';
@import 'libs/swiper';
@import 'button';
@import 'slides';
