{% extends 'base.html' %}

{% from 'macros/prose.html' import prose %}
{% from 'macros/authors.html' import authors %}
{% import 'macros/shares.html' as shares %}

{% block body_class %}mainbar-body bg-lightblue{% endblock %}

{% block masthead_class %}masthead-mainbar{% endblock %}

{% set context = data.findings %}

{% block swiper_bar %}
<div class="swiper-progress"></div>
{% endblock %}

{% block masthead_color %}{% endblock %}

{% block content %}

<div style="height: 0;">
  <svg width="20" height="2" shape-rendering="crispEdges">
    <defs>
      <pattern id="diagonal" width="20" height="2" patternUnits="userSpaceOnUse" patternTransform="rotate(45)">
        <rect width="1" height="2" fill="rgb(209, 70, 33)"></rect>
      </pattern>
      <filter id="text-filter">
        <feOffset in="blurOut" result="dropBlur" dx="5" dy="5" />
      </filter>
    </defs>
  </svg>
</div>

<div class="mainbar-container">
  <div id="swiper-container" class="swiper-container">
    <div class="graphic-container">
      <div id="graphic"></div>
    </div>
    <div class="swiper-wrapper">
      <div class="swiper-slide swiper-slide--splash" data-primary-color="lightblue" data-type="text-only">
        <div class="slide-content slide-content--flex">
          <div class="splash-art slide-content--flex-child">{{ inject('assets/images/illustrations/lead-art.svg') }}</div>
          <header class="splash-header slide-content--flex-child">
            <h1 class="splash-header__title">Unholstered</h1>
            <p class="splash-header__subtitle">{{ data.findings.subhead }}</p>
          </header>
        </div>
      </div>
      {% for slide in context.intro_slides %}
      <div class="swiper-slide" data-primary-color="lightblue" data-type="text-only">
        <div class="slide-content">
          <div class="slide-prose">
            {{ prose(slide.prose) }}
          </div>
        </div>
      </div>
      {% endfor %}
      {% for slide in context.slides %}
      <div class="swiper-slide{% if slide.chart_type != 'text-only' %} swiper-slide--graphic{% endif %}{% if slide.id == 'officers' %}-inverted{% endif %}" data-primary-color="{{ slide.color }}" data-slide-type="{{ slide.chart_type }}" data-slide-id="{{ slide.id }}" data-slide-index="{{ slide.index }}">
        <div class="slide-content{% if slide.chart_type != 'text-only' %} slide-content--graphic{% endif %}">
          <div class="slide-prose">
            <h2 class="slide-prose__header">{{ slide.head }}</h2>
            {{ prose(slide.prose) }}
          </div>
        </div>
      </div>
      {% endfor %}
      {% for slide in context.footer_slides %}
      <div class="swiper-slide" data-primary-color="lightblue" data-slide-type="text-only">
        <div class="slide-content">
          <div class="slide-prose">
            {{ prose(slide.prose) }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="slider-controls">
  <button id="prev-button" class="slider-controls__button btn btn--transparent btn--large is-hidden"><div class="icon">{{ inject('assets/images/arrow-up.svg') }}</div></button>
  <button id="next-button" class="slider-controls__button btn btn--transparent btn--large"><span class="icon-text js-next-button-text">Begin</span><div class="icon icon--animated">{{ inject('assets/images/arrow-down.svg') }}</div></button>
  <button id="replay-button" class="slider-controls__button btn btn--transparent btn--large is-hidden"><span class="js-replay-button-text">Replay</span><div class="icon icon--replay">{{ inject('assets/images/repeat.svg') }}</div></button>
</div>

{% endblock content %}

{% block footer %}{% endblock footer %}

{% block inline_data %}
<script>
window.slideData = {{ data['mainbar-data']|dump }};
</script>
{% endblock inline_data %}
{% block scripts %}
{{ super() }}
<script src="{{ static('scripts/mainbar.js') }}"></script>
{% endblock scripts %}
