{% extends 'base.html' %}

{% from 'macros/prose.html' import prose %}
{% from 'macros/authors.html' import authors %}
{% import 'macros/shares.html' as shares %}

{% block body_class %}mainbar-body{% endblock %}

{% block masthead_class %}masthead-mainbar{% endblock %}

{% set context = data.mainbar %}

{% block content %}
<div class="mainbar-container">
  <div class="swiper-progress"></div>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        {{ prose(data.mainbar.intro) }}
      </div>
    {% for slide in data.mainbar.slides %}
      <div class="swiper-slide">
        <h3 class="slide-head">{{ slide.head }}</h3>
        <div class="slide-text">{{ prose(slide.prose) }}</div>
      </div>
    {% endfor %}
      <div class="swiper-slide">
        {{ prose(data.mainbar.closer) }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
