{% extends 'base.html' %}

{% from 'macros/prose.html' import prose %}
{% from 'macros/authors.html' import authors %}
{% import 'macros/shares.html' as shares %}

{% block body_class %}mainbar-body{% endblock %}

{% block masthead_class %}mainbar{% endblock %}

{% block content %}
<section class="intro">
{{ prose(data.mainbar.intro) }}
</section>

{% for slide in data.mainbar.slides %}
  <section class="slide">
    <h3 class="slide-head">{{ slide.head }}</h3>
    <div class="slide-text">
      {{ prose(slide.prose) }}
    </div>
  </section>
{% endfor %}

<section class="close">
  {{ prose(data.mainbar.closer) }}
</section>
{% endblock %}

{% block scripts %}
<script src="{{ static('scripts/libs/d3.v3.min.js') }}"></script>
<script src="{{ static('scripts/libs/stack.v1.min.js') }}"></script>
{% endblock %}
