{% macro text(value) %}
<p>{{ value }}</p>
{% endmacro %}

{% macro label(value) %}
<p class="label">{{ value }}</p>
{% endmacro %}

{% macro first(value) %}
<p class="first">{{ value }}</p>
{% endmacro %}

{% macro headline(value) %}
<h2 class="">{{ value }}</h2>
{% endmacro %}

{% macro head(value) %}
<h3 class="slide-prose__header">{{ value }}</h3>
{% endmacro %}

{% macro link(value) %}
<p><a href="">{{ value }}</a></p>
{% endmacro %}

{% macro subhead(value) %}
<h2 class="subhead">{{ value }}</h2>
{% endmacro %}

{% macro image (value) %}
<figure class="image{% if value.align %} inline--{{ value.align }}{% else %} image--full{% endif %}
{% if value.size %} {{ value.size}}{%endif%}">
  <img class="image__img" src="{{ static('assets/images/')}}{{ value.photo_url }}">
  {% if value.credit %}<cite class="image__credit">{{ value.credit }}</cite>{% endif %}
  <figcaption class="image__caption">{{ value.caption }}</figcaption>
</figure>
{% endmacro %}

{% macro video(value, context) %}
<figure class="video image{% if value.align %} inline--{{ value.align }}{% else %} image--full{% endif %}">
  <iframe id="video-player" width="100%" height="358" src="{{ value.src_url }}?enablejsapi=1&origin={{ staticAbsolute(context.slug)|urlencode }}" frameborder="0" allowfullscreen></iframe>
  {% if value.credit %}<cite class="image__credit">{{ value.credit }}</cite>{% endif %}
  <figcaption class="image__caption">{{ value.caption }}</figcaption>
</figure>
{% endmacro %}

{% macro blockquote(value) %}
<aside class="inline{% if value.align %} inline--{{ value.align }}{% else %} full{% endif %}">
  <blockquote class="blockquote">
    <p class="quote">{{ value.quote }}</p>
    {% if value.credit %}<cite class="blockquote__credit">{{ value.credit }}</cite>{% endif %}
  </blockquote>
</aside>
{% endmacro %}

{% macro ad(value) %}
<div class="dv-gpt-ad inside-ad" {% if value.mapping %}dv-gpt-mapping="{{ value.mapping }}"{% endif %}></div>
{% endmacro %}

{% macro top_related(value) %}
<aside class="inline inline--left small">
  <div class="top-related">
    <p>{{ value.refer }}</p>
    <p><a href="/unholstered/{{ value.slug }}">{{ value.link }}</a></p>
  </div>
</aside>
{% endmacro %}

{% macro list(value) %}
<ul class="bullet-list">
  {% for item in value %}
    <li><span>{{ item }}</span></li>
  {% endfor %}
</ul>
{% endmacro %}

{% macro disclosure(value) %}
<p class="disclosure">{{ value }}</p>
{% endmacro %}

{% macro download(value) %}
<a href="{{ value.link }}"><div class="download">{{ value.text }}</div></a>
{% endmacro %}
