{% import 'macros/processors.html' as processors %}

{% macro related(content, data) %}
  {% for item in content %}
    <div id="read-more-stories" class="read-more__story">
      <a href="{{ static( data[item.section_id].slug ) }}">
        <figure class="image thumbnail {{ data[item.section_id].background }}">
          <img class="image__img" src="{{ static('assets/images/')}}{{ data[item.section_id].id }}.png">
          <div class="read-more__section">
              Section {{ data[item.section_id].section_number }}
          </div>
        </figure>
      </a>
      <h3 class="read-more__headline"><a href="{{ static( data[item.section_id].slug ) }}">{{ data[item.section_id].headline }}</a></h3>
      <p>{{ data[item.section_id].summary }}</p>
    </div>
  {% endfor %}
{% endmacro %}
