<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@texastribune">
<meta name="twitter:creator" content="@texastribune">
<meta property="og:url" content="{{ static( context.slug ) }}">
<meta property="og:title" content="{{ context.headline }} | Unholstered">
<meta property="og:type" content="article">
<meta property="og:description" content="{{ context.summary }}">
<meta property="og:site_name" content="The Texas Tribune">
<meta property="og:image" content="{{ static ('assets/images/illustrations/') }}{{ context.illustration.svg_url }}">
<meta property="fb:app_id" content="154122474650943">
