<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block project_title %}IDV Kit{% endblock project_title %} | The Texas Tribune</title>
  <link rel="stylesheet" href="{{ static('styles/main.css') }}">
</head>
<body>
  <header>
    <div class="masthead">
      <a href="https://www.texastribune.org">
        <img class="trib-logo" alt="The Texas Tribune" src="https://s3.amazonaws.com/apps.texastribune.org/branding/TxTrib-logo-white500x55.png">
      </a>
      <div class="sections">
        Section:
          <ul>
            <a href="{{ static('mental-illness.html') }}"><li>I</li></a>
            <a href="{{ static('race.html') }}"><li>II</li></a>
            <a href="{{ static('unarmed.html') }}"><li>III</li></a>
            <a href="{{ static('off-duty.html') }}"><li>IV</li></a>
            <a href="{{ static('outcomes.html') }}"><li>V</li></a>
            <a href="{{ static('recordkeepers.html') }}"><li>VI</li></a>
          </ul>
      </div>
      <div class="header-title">
        <a href="{{ static('index.html') }}">Unholstered</a>
      </div>
    </div>
  </header>

  {% block content %}{% endblock content %}

{% block scripts %}{% endblock scripts %}
<script src="{{ static('scripts/commons.js') }}"></script>
<script src="{{ static('scripts/main.js') }}"></script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<script>
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', 'UA-9827490-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
