{% extends 'base.html' %}

{% from 'macros/prose.html' import prose %}
{% from 'macros/authors.html' import authors %}
{% from 'macros/related.html' import related %}
{% import 'macros/shares.html' as shares %}

{% block body_class %}story-body {{ context.background }}{% endblock %}

{% block masthead_class %}masthead-story{% endblock %}

{% block content %}
<section class="sty-header">
  <div class="sty-header__wrapper wrapper">
    <div class="sty-header__bar">
      Section {{ context.section_number }}
    </div>
    <h1 class="sty-header__headline">{{ context.headline }}</h1>
    <figure class="sty-header__art image">
      {{ inject('assets/images/illustrations/' + context.illustration.svg_url) }}
    </figure>
    <div class="sty-header__byline">By {{ authors(context.authors) }} / {{ context.pub_date }}</div>
  </div>
</section>
<section class="wrapper">
  <article class="wrapper__story">
    <div class="social">
      <a class="social__icon" href="{{ shares.twitter(staticAbsolute(context.slug), context.twitter_text, 'Unholstered') }}">
        {{ inject('assets/images/twitter.svg') }}
      </a>
      <a class="social__icon" href="{{ shares.facebook(staticAbsolute(context.slug), staticAbsolute(context.slug)) }}"  target="_blank">
        {{ inject('assets/images/facebook.svg') }}
      </a>
    </div>
    {{ prose(context.prose) }}
  </article>
</section>

<div class="banner-ad" id="ad-banner-footer"></div>

<section class="read-more wrapper">
  <h3 class="read-more__title">More in this series</h3>
  <div class="read-more__stories">
    <div class="read-more__story">
      <a href="{{ static( data.findings.slug ) }}">
        <figure class="image thumbnail">
          <img class="image__img" src="{{ static('assets/images/illustrations/')}}{{ data.findings.illustration.svg_url }}">
        </figure>
      </a>
      <div class="read-more__section">
        <a href="{{ static( data.findings.slug ) }}">
          Data
        </a>
      </div>
      <h3 class="read-more__headline"><a href="{{ static( data.findings.slug ) }}">{{ data.findings.headline }}</a></h3>
      <p>{{ data.findings.summary }}</p>
    </div>
    {{ related(context.related, data) }}
  </div>
</section>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ static('scripts/story.js') }}"></script>
{% endblock scripts %}
