{% extends 'base.html' %}

{% from 'macros/prose.html' import prose %}
{% from 'macros/authors.html' import authors %}
{% from 'macros/related.html' import related %}
{% import 'macros/shares.html' as shares %}

{% block body_class %}story-body{% endblock %}

{% block masthead_class %}masthead-story{% endblock %}

{% block content %}
<section class="sty-header {{ context.id }}">
  <div class="sty-header__wrapper wrapper">
    <div class="sty-header__bar">
      Section {{ context.section_number }}, {{ context.section_title }}
    </div>
    <h1 class="sty-header__headline">{{ context.headline }}</h1>
    <figure class="sty-header__art image">
      <!-- Don't do it this way, figure out how to inject -->
      {{ inject('assets/images/illustrations/' + context.illustration.svg_url) }}
    </figure>
    <div class="sty-header__byline">By {{ authors(context.authors) }} / {{ context.pub_date }}</div>
  </div>
</section>
<section class="wrapper">
  <article class="wrapper__story">
    <div class="social">
      <a class="social__icon" href="{{ shares.twitter(staticAbsolute(context.slug), context.twitter_text, 'Unholstered') }}">
        {{ inject('assets/images/twitter.svg') }}
      </a>
      <a class="social__icon" href="{{ shares.facebook(staticAbsolute(context.slug), staticAbsolute(context.slug)) }}"  target="_blank">
        {{ inject('assets/images/facebook.svg') }}
      </a>
    </div>
    {{ prose(context.prose) }}
  </article>
</section>

<section class="read-more wrapper">
  <div class="banner-ad wrapper" id="ad-banner-footer"></div>
  <h3 class="read-more__title">More in this series</h3>
  <div class="read-more__stories">
    <div class="read-more__story">
      <a href="{{ static( data.mainbar.slug ) }}">
        <figure class="image thumbnail">
          <img class="image__img" src="{{ static('assets/images/illustrations/')}}{{ data.mainbar.illustration.svg_url }}">
        </figure>
      </a>
      <div class="read-more__section">
        <a href="{{ static( data.mainbar.slug ) }}">
          Data
        </a>
      </div>
      <h3 class="read-more__headline"><a href="{{ static( data.mainbar.slug ) }}">{{ data.mainbar.headline }}</a></h3>
      <p>{{ data.mainbar.summary }}</p>
    </div>
    {{ related(context.related, data) }}
  </div>
</section>

<footer class="footer">
  <div class="wrapper footer__wrapper">
    <div class="footer__section about">
      <h4 class="footer__title">About this project</h4>
      <p class="footer__text">
        The Texas Tribune spent almost a year investigating police shootings in
        Texas’ largest cities. We worked to obtain official records — primarily
        through open records requests — from police departments in the state’s 36
        cities with a population of 100,000 or more residents. We worked to
        independently confirm details related to those shootings, and pored over
        hundreds of incident reports. The Tribune’s Unholstered project offers
        the most detailed look at the state of police shootings in Texas. </p>
      <div class="footer__social">
        <div class="footer__hashtag"><a href="https://twitter.com/search?q=%23unholstered">#Unholstered</a></div>
        <ul class="share-links">
          <li class="share-links__icon"><a class="twitter-button" href="{{ shares.twitter(staticAbsolute(''), mainbar.twitter_text, 'unholstered') }}">
            {{ inject('assets/images/twitter.svg') }}
          </a></li>
          <li class="share-links__icon"><a class="facebook-button" href="{{ shares.facebook(staticAbsolute(''), staticAbsolute('')) }}"  target="_blank">
            {{ inject('assets/images/facebook.svg') }}
          </a></li>
        </ul>
      </div>
    </div>
    <div class="footer__section">
      <h4 class="footer__title">Contributors</h4>
      <ul class="contribs">
        <li>
          <span class="contribs__name">Jolie McCullough</span>
          <span class="contribs__info">Reporter, Developer / <a href="http://www.twitter.com/jsmccullou">@jsmccullou</a></span>
        </li>
        <li>
          <span class="contribs__name">Alexa Ura</span>
          <span class="contribs__info">Reporter / <a href="http://www.twitter.com/alexazura">@alexazura</a></span>
        </li>
        <li>
          <span class="contribs__name">Johnathan Silver</span>
          <span class="contribs__info">Reporter / <a href="http://www.twitter.com/johnathansilver">@johnathansilver</a></span>
        </li>
        <li>
          <span class="contribs__name">Justin Dehn</span>
          <span class="contribs__info">Multimedia Producer / <a href="http://www.twitter.com/jdehn">@jdehn</a></span>
        </li>
        <li>
          <span class="contribs__name">Ben Hasson</span>
          <span class="contribs__info">Senior Designer / <a href="http://www.twitter.com/been_hussln">@been_hussln</a></span>
        </li>
        <li>
          <span class="contribs__name">Emily Albracht</span>
          <span class="contribs__info">Junior Designer / <a href="http://www.twitter.com/emilyalbracht">@emilyalbracht</a></span>
        </li>
        <li>
          <span class="contribs__name">Ryan Murphy</span>
          <span class="contribs__info">Senior Developer / <a href="http://www.twitter.com/rdmurphy">@rdmurphy</a></span>
        </li>
        <li>
          <span class="contribs__name">Todd Wiseman</span>
          <span class="contribs__info">Multimedia Producer / <a href="http://www.twitter.com/wisemeister">@wisemeister</a></span>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-links">
    <div class="footer-links__left">&#xa9; <script>document.write(new Date().getFullYear())</script> <a href="https://www.texastribune.org">The Texas Tribune</a></div>
    <ul class="links">
      <li><a href="https://www.texastribune.org/about/">About Us</a></li>
      <li><a href="https://www.texastribune.org/contact/">Contact Us</a></li>
      <li><a href="https://www.texastribune.org/support-us/donors-and-members/">Who Funds Us?</a></li>
      <li><a href="https://www.texastribune.org/terms-of-service/">Terms of Service</a></li>
      <li><a href="https://www.texastribune.org/ethics/">Code of Ethics</a></li>
      <li><a href="https://www.texastribune.org/privacy/">Privacy Policy</a></li>
      <li class="donate"><a href="https://support.texastribune.org/">Donate</a></li>
    </ul>
  </div>
</footer>
{% endblock %}
