{% extends 'base.html' %}

{% from 'macros/prose.html' import prose %}
{% from 'macros/authors.html' import authors %}
{% import 'macros/shares.html' as shares %}

{% block body_class %}story-body{% endblock %}

{% block masthead_class %}story{% endblock %}

{% block content %}
<div class="wrapper">
  <header class="story-header">
    <div class="section-bar">
      Section {{ context.section_number }}, {{ context.section_title }}
    </div>
    <h1 class="story-headline">{{ context.headline }}</h1>
    <p class="byline">By {{ authors(context.authors) }} / {{ context.pub_date }}</p>
  </header>
  <figure class="image image--lead-art">
    <img class="image__img" src="{{ static('assets/images/')}}{{ context.lead_art.photo_url }}">
    <figcaption class="image__caption">{{context.lead_art.caption}}{% if context.lead_art.credit %} | {{ context.lead_art.credit }}{% endif %}</figcaption>
  </figure>
  <article>
    {{ prose(context.prose) }}
  </article>
</div>
{% endblock %}
